<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PDVEntities" connectionString="metadata=res://*/PDVEnt.csdl|res://*/PDVEnt.ssdl|res://*/PDVEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROB-PC;initial catalog=PDV;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>